{% extends "gr/main.html" %}

{% block title %}Gift Registry: Log In{% endblock %}
{% block head %}{% endblock %}

{% block content %}
<h1>Log In</h1>

{% if form.errors or messages|length > 0 %}
<div class='warning'>
  Sorry, there was a problem logging in.
  {% for m in messages %}
  <br />{{ m }}
  {% endfor %}
</div>
{% endif %}

<form method="post">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Go" />
</form>

Make a new account at the 
<a href="{% url gr.views.auth_register %}">registration page</a>.

{% endblock %}


