<!DOCTYPE html>

<!-- IMM4LFO 2011-09-17 Sample Gift Registry --> 
<html lang="en"> 
 
<head> 
  <title>{% block title %}Gift Registry{% endblock %}</title> 
 
  <meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
  <meta http-equiv="content-language" content="en-us" /> 
 
  <link href="/public/css/default.css" rel="stylesheet"
	  type="text/css" media="screen" /> 
  <script src="/public/js/jquery.js" type="text/javascript"></script> 
  {% block head %}{% endblock %}
</head> 
 

<body> 

  <div id="top">
    {% block top %}
    Top
    {% endblock %}
  </div>

  <div id="content">
    {% block content %}
    <h1>Welcome!</h1>
    <p>
      This is the default content for the Gift Registry app.
      Normally this should show only from the "home" page.
    </p>
    <p>
      Use the menu to the right to navigate the app.
      You may register as a "Recipient", create an event,
      and invite attendees. Invited attendees automatically
      have corresponding user accounts created for them.
    </p>
    <p>
      If you already have an account, log in and head to
      the Event List to get started.
    </p>
    {% endblock %}
  </div>

  <div id="menu_right">
    <h1>Menu</h1>
    <ul>
      {% if request.session and request.user.id > 0 %}
      <li>
	<a href="{% url gr.views.auth_logout %}">Logout
	({{request.user.id}}/{{request.user.get_profile.gr_user_type}})</a>
      </li>
      {% else %}
      <li>
	<a href="{% url gr.views.auth_login %}">Login</a> / 
	<a href="{% url gr.views.auth_register %}">Register</a>
      </li>
      {% endif %}
      <li><a href="{% url gr.views.event_list %}">Event List</a></li>
      <li>menu3</li>
    </ul>
  </div>

  <div id="bottom">
    Bottom
  </div>

</body>


</html>

